streamlit
pandas
numpy
scipy
matplotlib
datetime 
requests
streamlit_autorefresh 
istreamlit
pandas
numpy
scipy.optimize 
curve_fit
matplotlib.pyplot 
datetime 
datetime 
requests
streamlit_autorefresh
st_autorefresh